.panel-title a {
  display: block;
  padding: 10px 15px;
  margin: -10px -15px;
}

.v-mid {
  vertical-align:middle !important;
}

.h-mid {
  margin-left: auto !important;
  margin-right: auto !important;
}

.display-dark {
  color: white;
  background-color: #111;
}

.display-dark a {
  color: white;
  text-decoration: none;
}
