body, .invis-t {
  font-family: Arial, Helvetica, sans-serif;
  color: #011;
  background-color: #fff;
}

.dark {
  color: white;
  background-color: #333;
}

.dark a {
  color: white;
  text-decoration: none;
}

input, button {
  vertical-align: center;
}

.fix-font-size {
  font-size: initial;
}

.outstream {
  color: black;
}

.left-div {
  margin-left: 2%;
}

.flmra-div {
  float: left;
  margin-right:12px;
  /* border-right: 1px solid #bbb */
}

.flex-center {
  display: flex;
  justify-content: center;
}

h1, h2, h3, h4, .footer, .invis-t{
  text-align:center;
}

.pseudo-h{
  text-align:center;
  font-size:200%;
}

.mini-h{
  vertical-align:top;
  text-align:center;
}

.tabhack{
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.tabhack-left{
  margin-left: auto;
  display: table;
}

.tabhack-right{
  margin-right: auto;
  display: table;
}

.side-by-sideb {
  vertical-align: top;
}

.side-by-sideb + .side-by-sideb {
  padding-left: 80px;
}

.side-by-side {
  padding-left: 8px;
  padding-right: 8px;
  margin: 3px;
}

.side-by-side div {
  padding-top: 8px;
  padding-bottom: 8px;
}

.number-input {
  width: 3em;
  text-align: right;
}

.shorttext-input {
  width: 10em;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  float: center;
  table-layout: fixed;
  margin-left:auto;
  margin-right:auto;
}
th, td {
  border: 1px solid black;
  padding: 5px;
}
tr:nth-child(odd) {
  color: black;
  background-color: #ccc;
}
tr:nth-child(even) {
  color: black;
  background-color: #eee;
}
th {
  color: white;
  background-color: #444;
}

.invis-t {
  border: none;
  border-collapse: collapse;
  vertical-align: top;
}

.tournament-key-ul {
  list-style-type: none;
  vertical-align: middle;
}

.navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-li {
    float: left;
    border-right: 1px solid #bbb;
}

.navbar-li:last-child {
    border-right: none;
    border-left: 1px solid #bbb;
}

.navbar-tk {
    float: left;
}

.navbar-a, .navbar-s, .navbar-tk {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* Active link style */
.navbar-a.act {
    color: white;
    background-color: #077;
}

/* Change the link color on hover */
.navbar-a:hover:not(.act){
    color: black;
    background-color: #ddd;
}
