body, .invis-t {
  font-family: Arial, Helvetica, sans-serif;
  color: #011;
  background-color: #fff;
}

.outstream {
  color: black;
}

.left-div {
  margin-left: 2%;
}

.flmra-div {
  float: left;
  margin-right:12px;
  /* border-right: 1px solid #bbb */
}
h1, h2, h3, h4, .footer, .invis-t{
  text-align:center;
}

.mini-h{
  vertical-align:top;
  text-align:center;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  float: center;
  table-layout: fixed;
  margin-left:auto;
  margin-right:auto;
}
th, td {
  border: 1px solid black;
  padding: 5px;
}
tr:nth-child(odd) {
  color: black;
  background-color: #ccc;
}
tr:nth-child(even) {
  color: black;
  background-color: #eee;
}
th {
  color: white;
  background-color: #444;
}

.invis-t {
  border: none;
  border-collapse: collapse;
  vertical-align: top;
}

.tournament-key-ul {
  list-style-type: none;
  vertical-align: middle;
}

.navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-li {
    float: left;
    border-right: 1px solid #bbb;
}

.navbar-li:last-child {
    border-right: none;
    border-left: 1px solid #bbb;
}

.navbar-tk {
    float: left;
}

.navbar-a, .navbar-s, .navbar-tk {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* Active link style */
.navbar-a.act {
    color: white;
    background-color: #077;
}

/* Change the link color on hover */
.navbar-a:hover:not(.act){
    color: black;
    background-color: #ddd;
}
